<div class="detail-view">
  <app-header [nombreUsuario]="nombreUsuario"></app-header>

  <div class="container">
    
    <app-filter 
      [years]="years" 
      [months]="months"
      [days]="days"
      [selectedYear]="year"
      [selectedMonth]="month"
      [selectedDay]="day"
      [showDayFilter]="true"
      [isLoading]="isLoading"
      (filter)="onFilter($event)">
    </app-filter>
    
    <button (click)="backToDashboard()" class="back-button">
      <i class="fas fa-arrow-left"></i> Volver al Dashboard
    </button>
    <app-loading [isLoading]="isLoading"></app-loading>

    <div class="cards-grid"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="50"
      (scrolled)="onScrollDown()"
    >
      <app-payment-card *ngFor="let payment of payments" [payment]="payment"></app-payment-card>
    </div>
  </div>

  <button *ngIf="showButton" (click)="onScrollTop()" class="button-scroll">
    <i class="fa-solid fa-up-long"></i>
  </button>
</div>