

<mat-dialog-content class="mat-typography">
  <div>
    <app-filter [document]="document" [name]="name"  [isLoading]="isLoading" [showUserFilter]="true">
    </app-filter>

  </div>

  <div class="content-info">
    <img src="../../../assets/img/local.png" alt="local" class="img-local">
    <div class="info-all">

        <div class="info-document text-colum">
            <p class="space-text">Documento:</p>
            <p>vrevrver</p>
        </div>
        <div class="info-name text-colum">
            <p class="space-text">Nombre:</p>
            <p>ververv</p>

        </div>
        <div class="info-local text-colum">
            <p class="space-text">Local:</p>
            <p>ververve</p>
        </div>
        <div class="info_category text-colum">
            <p class="space-text">Categoria:</p>
            <p >verve</p>
        </div>
    </div>
</div>
<div class="cardSummaryYearMonth media-pc-summary" >
  <div class="SummaryMonth">
      <p class="textMonth">Resumen de Mes:</p>
      <div class="bag-mont-select">
          <p>Noviembre</p>
      </div>
  </div>

  <div class="card-content-SummaryYearMonth">
      <div class="all-data">
          <div class="circleSummary status orange">25</div>
          <p class="status orange align">$262,000</p>
      </div>
      <div class="all-data">
          <div class="circleSummary status green">10</div>
          <p class="status green align">$201,000</p>
      </div>
      <div class="all-data">
          <div class="circleSummary status red">05</div>
          <p class="status red align">$100,000</p>
      </div>
  </div>

</div>
</mat-dialog-content>

