@import "../../pages/dashboard/dashboard.component.scss";

.header {
  background-color: white;
  border-bottom: 1px solid $border-color;
  padding: 10px 0;
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  z-index: 999;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-img {
    height: 50px;
  }

  .title {
    text-align: center;

    h1 {
      font-size: 18px;
      margin: 0;
    }

    p {
      font-size: 14px;
      color: $secondary-color;
      margin: 2px 0;
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    span {
      margin-right: 10px;
    }

    .avatar {
      width: 30px;
      height: 30px;
      background-color: $primary-color;
      color: white;
      border-radius: 50%;
      @include flex-center;
      font-weight: 600;
      font-size: 12px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      text-transform: uppercase;
    }
    .content-user {
      display: flex;
      align-items: center;
    }
  }
  .logout-button {
    margin-top: 5px;
    padding: 8px 10px;
    cursor: pointer;
    font-weight: 600;
    background-color: #f8f9fa;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
  }
}
@media (max-width: 590px) {
  .content-user span {
    display: none;
  }
}

.btn {
  border: 1px #a6a6a6 solid;
  background: white;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;

}
.content-btns {
  gap: 10px;
  display: flex;
  margin: 10px auto;
  width: 100%;
  max-width: 1225px;
}
@media (max-width: 1230px){
  .content-btns{
    margin-left: 20px;
    :hover {
      background-color: darken($light-color, 5%);
    }
  }
  

}
@media (max-width: 425px){
  .logout-button i{
    display: none;
  }
}
