<!-- Loading Component -->
<app-loading [isLoading]="isLoading"></app-loading>
<div class="main">
    <!-- Header -->
    <app-header [nombreUsuario]="nombreUsuario"></app-header>
    <div class="title-contribution">
        <p>Contribuyentes</p>
    </div>
    <app-filter [document]="document" [name]="name"  [isLoading]="isLoading" [showUserFilter]="true">
    </app-filter>
    <div class="main-local">
        <div *ngFor=" let taxpayer of contributor" class="content-info" (click)="openDialogCustom()">
                <img [src]="taxpayer.img" alt="local" class="img-local">
                <div class="info-all">

                    <div class="info-document text-colum">
                        <p class="space-text">Documento:</p>
                        <p>{{taxpayer.documento}}</p>
                    </div>
                    <div class="info-name text-colum">
                        <p class="space-text">Nombre:</p>
                        <p>{{taxpayer.nombre}}</p>
    
                    </div>
                    <div class="info-local text-colum">
                        <p class="space-text">Local:</p>
                        <p>{{taxpayer.local}}</p>
                    </div>
                    <div class="info_category text-colum">
                        <p class="space-text">Categoria:</p>
                        <p >{{taxpayer.categoria}}</p>
                    </div>
                </div>
        </div>

    </div>
</div>

