<!-- Loading Component -->
<app-loading [isLoading]="isLoading"></app-loading>
<div class="main">
    <!-- Header -->
    <app-header [nombreUsuario]="nombreUsuario"></app-header>
    <div class="title-contribution">
        <p>Contribuyentes</p>
    </div>
    <app-filter [document]="document" [name]="name"  [isLoading]="isLoading" [showUserFilter]="true">
    </app-filter>
    <div class="main-local">
        <div class="content-info">
                <img src="../../../assets/img/local.png" alt="local" class="img-local">
                <div class="info-all">

                    <div class="info-document text-colum">
                        <p class="space-text">Documento:</p>
                        <p>1041690937</p>
                    </div>
                    <div class="info-name text-colum">
                        <p class="space-text">Nombre:</p>
                        <p>Joshua Suarez</p>
    
                    </div>
                    <div class="info-local text-colum">
                        <p class="space-text">Local:</p>
                        <p>A1</p>
                    </div>
                    <div class="info_category text-colum">
                        <p class="space-text">Categoria:</p>
                        <p >A</p>
                    </div>
                </div>
        </div>
                <div class="content-info">
                <img src="../../../assets/img/local.png" alt="local" class="img-local">
                <div class="info-all">

                    <div class="info-document text-colum">
                        <p class="space-text">Documento:</p>
                        <p>1041690937</p>
                    </div>
                    <div class="info-name text-colum">
                        <p class="space-text">Nombre:</p>
                        <p>Joshua Suarez</p>
    
                    </div>
                    <div class="info-local text-colum">
                        <p class="space-text">Local:</p>
                        <p>A1</p>
                    </div>
                    <div class="info_category text-colum">
                        <p class="space-text">Categoria:</p>
                        <p >A</p>
                    </div>
                </div>
        </div>
        <div class="content-info">
            <img src="../../../assets/img/local.png" alt="local" class="img-local">
            <div class="info-all">

                <div class="info-document text-colum">
                    <p class="space-text">Documento:</p>
                    <p>1041690937</p>
                </div>
                <div class="info-name text-colum">
                    <p class="space-text">Nombre:</p>
                    <p>Joshua Suarez</p>

                </div>
                <div class="info-local text-colum">
                    <p class="space-text">Local:</p>
                    <p>A1</p>
                </div>
                <div class="info_category text-colum">
                    <p class="space-text">Categoria:</p>
                    <p >A</p>
                </div>
            </div>
    </div>
    <div class="content-info">
        <img src="../../../assets/img/local.png" alt="local" class="img-local">
        <div class="info-all">

            <div class="info-document text-colum">
                <p class="space-text">Documento:</p>
                <p>1041690937</p>
            </div>
            <div class="info-name text-colum">
                <p class="space-text">Nombre:</p>
                <p>Joshua Suarez</p>

            </div>
            <div class="info-local text-colum">
                <p class="space-text">Local:</p>
                <p>A1</p>
            </div>
            <div class="info_category text-colum">
                <p class="space-text">Categoria:</p>
                <p >A</p>
            </div>
        </div>
</div>
<div class="content-info">
    <img src="../../../assets/img/local.png" alt="local" class="img-local">
    <div class="info-all">

        <div class="info-document text-colum">
            <p class="space-text">Documento:</p>
            <p>1041690937</p>
        </div>
        <div class="info-name text-colum">
            <p class="space-text">Nombre:</p>
            <p>Joshua Suarez</p>

        </div>
        <div class="info-local text-colum">
            <p class="space-text">Local:</p>
            <p>A1</p>
        </div>
        <div class="info_category text-colum">
            <p class="space-text">Categoria:</p>
            <p >A</p>
        </div>
    </div>
</div>
<div class="content-info">
    <img src="../../../assets/img/local.png" alt="local" class="img-local">
    <div class="info-all">

        <div class="info-document text-colum">
            <p class="space-text">Documento:</p>
            <p>1041690937</p>
        </div>
        <div class="info-name text-colum">
            <p class="space-text">Nombre:</p>
            <p>Joshua Suarez</p>

        </div>
        <div class="info-local text-colum">
            <p class="space-text">Local:</p>
            <p>A1</p>
        </div>
        <div class="info_category text-colum">
            <p class="space-text">Categoria:</p>
            <p >A</p>
        </div>
    </div>
</div>
<div class="content-info">
    <img src="../../../assets/img/local.png" alt="local" class="img-local">
    <div class="info-all">

        <div class="info-document text-colum">
            <p class="space-text">Documento:</p>
            <p>1041690937</p>
        </div>
        <div class="info-name text-colum">
            <p class="space-text">Nombre:</p>
            <p>Joshua Suarez</p>

        </div>
        <div class="info-local text-colum">
            <p class="space-text">Local:</p>
            <p>A1</p>
        </div>
        <div class="info_category text-colum">
            <p class="space-text">Categoria:</p>
            <p >A</p>
        </div>
    </div>
</div>
    </div>
</div>

